<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="cordova-cpos800"
	version="1.0.0">

	<name>CPOS800 for cordova</name>
	<description>CPOS800 plugin for cordova</description>
	<author>OPENCOLLAB</author>

	<engines>
		<engine name="cordova-android" version=">=5.1.1" />
	</engines>

	<js-module src="www/CPOS800.js" name="CPOS800">
		<clobbers target="window.plugins.CPOS800" />
	</js-module>

	<platform name="android">
		<!-- Replace the default implementation with the Android implementation -->
		<js-module src="www/android/CPOS800.js" name="androidFincludePrinter">
			 <merges target="window.plugins.FincludePrinter" />
		</js-module>
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="CPOS800">
				<param name="android-package" value="android.coza.opencollab.cpos800.CPOS800"/>
			</feature>
		</config-file>
		<source-file src="src/android/CPOS800.java" target-dir="src/coza/opencollab/cpos800" />
	</platform>
</plugin>
