<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="cordova-cpos800"
	version="1.0.0">

	<name>CPOS800 for cordova</name>
	<description>CPOS800 plugin for cordova</description>
	<author>OPENCOLLAB</author>

	<engines>
		<engine name="cordova-android" version=">=5.1.1" />
	</engines>

	<js-module src="www/CPOS800.js" name="CPOS800">
		<clobbers target="window.plugins.CPOS800" />
	</js-module>

	<platform name="android">
		<!-- Replace the default implementation with the Android implementation -->
		<js-module src="www/android/CPOS800.js" name="cpos800plugin">
			<merges target="window.plugins.CPOS800" />
		</js-module>
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="CPOS800Plugin">
				<param name="android-package" value="coza.opencollab.cpos800.cordova.CPOS800Plugin"/>
			</feature>
		</config-file>

		<!-- Copy Serial port JNI interface-->
		<source-file src="src/android/java/android_serialport_api/SerialPort.java" target-dir="src/android_serialport_api" />

		<!-- Copy cordova files -->
		<source-file src="src/android/java/coza/opencollab/cpos800/cordova/CPOS800Plugin.java" target-dir="src/coza/opencollab/cpos800/cordova" />
		<source-file src="src/android/java/coza/opencollab/cpos800/cordova/NoopApiCallback.java" target-dir="src/coza/opencollab/cpos800/cordova" />

		<!-- Copy api files -->
		<source-file src="src/android/java/coza/opencollab/cpos800/api/NfcApi.java" target-dir="src/coza/opencollab/cpos800/api" />
		<source-file src="src/android/java/coza/opencollab/cpos800/api/PrinterApi.java" target-dir="src/coza/opencollab/cpos800/api" />

		<!-- Copy serial files -->
		<source-file src="src/android/java/coza/opencollab/cpos800/serial/SerialConnection.java" target-dir="src/coza/opencollab/cpos800/serial" />
		<source-file src="src/android/java/coza/opencollab/cpos800/serial/SerialManager.java" target-dir="src/coza/opencollab/cpos800/serial" />

		<!-- Copy other files -->
		<source-file src="src/android/java/coza/opencollab/cpos800/ApiCallback.java" target-dir="src/coza/opencollab/cpos800" />
		<source-file src="src/android/java/coza/opencollab/cpos800/ApiFailure.java" target-dir="src/coza/opencollab/cpos800" />
		<source-file src="src/android/java/coza/opencollab/cpos800/ApiPrintingCallback.java" target-dir="src/coza/opencollab/cpos800" />
		<source-file src="src/android/java/coza/opencollab/cpos800/DataTools.java" target-dir="src/coza/opencollab/cpos800" />

		<!-- Copy library files -->
		<source-file src="src/android/libs/armeabi/libserial_port.so" target-dir="libs/armeabi" />
		<source-file src="src/android/libs/armeabi-v7a/libserial_port.so" target-dir="libs/armeabi-v7a" />
		<source-file src="src/android/libs/x86/libserial_port.so" target-dir="libs/x86" />
	</platform>
</plugin>
